<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhcens.emviewdoctor.mapper.TimeLineDiagnoseMapper">
    <resultMap id="BaseResultMap" type="com.dhcens.emviewdoctor.entity.VO.TimeLineDiagnoseVO">
        <result column="pad_visitnumber" jdbcType="VARCHAR" property="padVisitNumber"/>
        <result column="pad_diagrowid" jdbcType="VARCHAR" property="padDiagRowId"/>
        <result column="pad_diagcode" jdbcType="VARCHAR" property="padDiagCode"/>
        <result column="pad_diagdesc" jdbcType="VARCHAR" property="padDiagDesc"/>
        <result column="pad_diagdate" jdbcType="VARCHAR" property="padDiagDate"/>
        <result column="pad_diagtype" jdbcType="VARCHAR" property="padDiagTypeCode"/>
        <result column="pad_updateusercode" jdbcType="VARCHAR" property="padDiagDocCode"/>

    </resultMap>
    <select id="selectTimeLineDiagnose" resultMap="BaseResultMap">
select to_char(padiagnose.pad_visitnumber) as pad_visitnumber,
       to_char(padiagnose.pad_diagrowid) as pad_diagrowid,
       padiagnose.pad_updateusercode,
       padiagnose.pad_diagcode,
       padiagnose.pad_diagdesc,
       to_char(padiagnose.pad_diagdate) as pad_diagdate ,
       padiagnose.pad_diagtype
from hdc_user.pa_diagnose padiagnose
<where >
    <trim prefixOverrides="and">
        and padiagnose.pad_visitnumber in
        <foreach collection="PatVisitNumberList"  item="item"  separator="," open="(" close=")">
            #{item}
        </foreach>
    </trim>
</where>
        order by pad_diagrowid desc
        limit 2000
    </select>
</mapper>